appBackend/.env
appBackend/.gitignore
appBackend/node_modules
appBackend/.env
eventManagementApp/node_modules
eventManagementApp/.gitignore
eventManagementApp/.expo
eventManagementApp/%ProgramData%



